.layout-container {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.layout-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}



.content-container {
  flex: 1;
  padding: 20px;
  padding-top: 80px; /* Offset for fixed header */
  overflow-y: auto;
}
